/**
 *
 * @author       ykk
 * @version      1.0
 * @date         2017-03-26 02:12
 * @description  核心控制参数
 * @file
 *
 */

{
    /*总体参数控制*/
    "app":{
        // 语言选择
        "locale":"en_US",
        // 是否进行日志
        "logger":true,
        // 日志显示的级别
        "logger-level":"info",
        "extplugins":["js/extplugin/bootstrap.min.js"],
        "log":"js/log/logger.js",
    }
}