/**
 *
 * @author       ykk
 * @version      1.0
 * @date         2017-03-26 02:12
 * @description  核心控制参数
 * @file
 *
 */

{
    /*总体参数控制*/
    "app":{
        // 语言选择
        "locale":"en_US",
        // 是否进行日志
        "logger":true,
        // 日志显示的级别
        "logger-level":"info",
        // 是否加载测试类
        "tester":true,
        //第三方插件
        "extplugins":[
            "js/extplugin/bootstrap.min.js"
        ],
        // 日志
        "log":[
            "js/log/assert.js",
            "js/log/newlogger.js"
        ],
        // 常量方法
        "utils":[
            "js/config/utils.js"
         ],
        // 测试类
        "test":[
            "js/test/main.js"
        ]
    }
}